// COLORS

$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-dark-3: #222;

$color-red: #ff0000;
$color-yellow: #ffe400;
$color-yellow-dark: #dadd00;

// FONT

$default-font-size: 1.6rem; // 16px

// COMPONENTS

$board-color: #f7f7f7;