.board {
    cursor: pointer;

    &__cell {
        padding: 20px;
        height: 80px;
        
        &-active {
            background-color: #ccc;
        }
    }
}

.active-player {
    font-weight: bold;
}