<div class="total-tokens">
  <span class="total-tokens__number">
    {{ getTokenLeft() }}
  </span>
</div>
<div class="container">
  <div class="row" class="text-center">
      <h2 class="heading-secondary">{{playingPlayer.pseudo}}</h2>
  </div>
  <div class="row score">
    <div *ngFor="let player of players; let i = index" [ngPlural]="player.score" class="col-sm-6" [ngClass]="{'text-right': i===1}">
      <span [ngClass]="player.color === 'r' ? 'score__player-red' : 'score__player-yellow'" class="score__player-pseudo">{{player.pseudo}}    </span> 
      <span class="score__player-score badge badge-secondary">{{player.score}}
        <ng-template ngPluralCase="=0">victoire</ng-template>
        <ng-template ngPluralCase="=1">victoire</ng-template>
        <ng-template ngPluralCase="other">victoires</ng-template>
      </span>
    </div>
  </div>
</div>


<div class="container board">
  <div class="row" *ngFor="let row of board">
    <div class="col board__cell" 
        *ngFor="let cell of row"
        (click)="addToken(cell)"
        (mouseenter)="highlightActiveColumn(cell)" 
        [ngClass]="{'board__cell-active': cell.col === highlightedColumn}">
      <div class="board__token-hole">
        <app-token *ngIf="cell.hasToken" (valueChange)="updatePlayingPlayer($event)"></app-token>
      </div>
    </div>
  </div>
</div>


<ng-template #playAgainTemplate>
  <div class="modal-header">
    <div [ngSwitch]="victoryCase">
      <div *ngSwitchCase="VictoryCase.Win">
        <h4 class="modal-title pull-left">{{ winner.pseudo }} a gagné !</h4>
      </div>
      <div *ngSwitchCase="VictoryCase.Draw">
        <h4 class="modal-title pull-left">Egalité !</h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
      <div *ngFor="let player of players">Score {{player.pseudo}}: {{player.score}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="confirm()" >Recommencer</button>
  </div>
</ng-template>