@import '../../styles/abstracts/variables';
@import '../../styles/base/animations';

.token {
    position: absolute;
    left:0;
    right:0;
    background: $color-black;
    margin-left:auto;
    margin-right:auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    &-red {
        background: radial-gradient(circle at 1rem 1rem, $color-red, $color-black);
    }

    &-yellow {
        background: radial-gradient(circle at 1rem 1rem, $color-yellow, $color-black);
    }

    &-move {
        animation-name: fall;
        animation-duration: .3s;
        animation-timing-function: ease-in;
    }
}

